{% extends "base.html" %}

{% block icon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/lesson.png') }}">
{% endblock %}

{% block content %}
<article>
    <h2>{{ title }}</h2>
    <div class="meta aurora-input">Lecție scurtă
        <h3>Rezumatul lecției generat de aplicatie:</h3>
        <p>{{ summary }}</p>
        <hr class="aurora-input">
        <h3>Rezumatul lecției generat de AI:</h3>
        <p>{{ summary_ai }}</p>
    </div>
    <div>{{ html|safe }}</div>

    <p><a href="{{ url_for('index') }}" class="aurora-button">Înapoi</a></p>
</article>
{% endblock %}